@(InterviewForm: Form[models.QuestionRate],interviewQuestion: models.QuestionRate, interview: models.Interview, categories: Set[models.Category], questionIndex: Integer)

@import helper._

@main("Candidate Questions", categories) {

	<div class="row">
		@if(interview != null && interviewQuestion != null){
			<div class="col-md-4">

				<h3>Candidate : @interview.candidate.name </h3>
				<h3>Role : @interview.role.name</h3>
				

			</div>
			<div class="col-md-7">
				<h3>Question @questionIndex out of @interview.numQuestions</h3>


				@helper.form(action = routes.InterviewCtrl.interviewSubmit(), 'class -> "form-horizontal", 'role->"form") {
					<p class ="form-control"> @interviewQuestion.question.question <br> </p>
					<input type="hidden" name="question.id" value="@interviewQuestion.question.id"/> <br>
					<input type="hidden" name="interview.id" value="@interview.id"/> <br>
					@textarea(InterviewForm("comments"), args = 'rows->5, '_label -> "Comments", 'class -> "form-control")
					<div id="ratingRadio" name="ratingRadio" class = "form-control">
						<input type="radio" name="rate" value="1" />1
						<input type="radio" name="rate" value="2" />2
						<input type="radio" name="rate" value="3" />3
						<input type="radio" name="rate" value="4" />4
						<input type="radio" name="rate" value="5" />5

					</div>
					
					<div class="actions">
						
						
						<a href="/deleteCandidate/@interview.candidate.id" 
							<button class="btn btn-warning">Cancel Interview</button>
						</a>
						@if(questionIndex == interview.numQuestions){
							<input type="submit" value="End Interview" class="btn btn-primary">

						}else{
						<input type="submit" value="Next" class="btn btn-primary">
						}
					</div>
				}

			</div>
			
			
		
		}
		

	</div>

}