@(InterviewForm: Form[models.QuestionRate],interview: models.QuestionRate, candidate: models.Candidate, categories: Set[models.Category])

@import helper._

@main("Candidate Questions", categories) {

	<div class="row">
		@if(candidate != null && interview != null){
			<div class="col-md-4">

				<h3>Candidate : @candidate.name </h3>
				<h3>Role : @candidate.role.name</h3>
				

			</div>
			<div class="col-md-7">

				@helper.form(action = routes.InterviewCtrl.interviewSubmit(), 'class -> "form-horizontal", 'role->"form") {
					<p class ="form-control"> @interview.question.question <br> </p>
					<input type="hidden" name="question.id" value="@interview.question.id"/> <br>
					<div id="ratingRadio" name="ratingRadio" class = "form-control">
						<input type="radio" name="rate" value="1" />1
						<input type="radio" name="rate" value="2" />2
						<input type="radio" name="rate" value="3" />3
						<input type="radio" name="rate" value="4" />4
						<input type="radio" name="rate" value="5" />5

					</div>
					
					<div class="actions">
						
						
						<a href="/" 
							<button class="btn btn-warning">Cancel Interview</button>
						</a>
						
						<input type="submit" value="Next" class="btn btn-primary">
					</div>
				}

			</div>
			
			
		
		}
		

	</div>

}