@(categories: List[models.Category], user: models.User)

@main("Graphs", user){
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
		    @flash.get("success")
		</div>
	}
	@if(flash.containsKey("error")){
		<div class="alert alert-warning">
			@flash.get("error")
		</div>
	}
	<div id="test-chart"></div>
	<div id="test-legend"></div>

}
<script type="text/javascript">
   // code to handle the graph drawing goes here
	   AmCharts.ready(function(){
	   // code goes here
	   
	   var chart = AmCharts.makeChart("test-chart", {
                    "type": "serial", // type of the graph
                    "theme": "dark", // the theme
                    "legend": { // settings for legend
                        "useGraphSettings": true,
						"markerSize":12,
						"valueWidth":0,
						"verticalGap":0
                    },
                    "dataProvider": [
						
						@for(c <- categories){
							{
							 "Category": "@c.name",
							 "Number of questions": @c.countQuestions(),
							 "Difficult": @c.countDifficult()
							},
						}
					], 
					
					"graphs": [{
					"balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
					"title": "Category",
					"type": "column",
					"fillAlphas": 0.8,

					"valueField": "Number of questions"
				}, {
					"balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
					"bullet": "round",
					"bulletBorderAlpha": 1,
					"bulletColor": "#FFFFFF",
					"useLineColorForBulletBorder": true,
					"fillAlphas": 0,
					"lineThickness": 2,
					"lineAlpha": 1,
					"bulletSize": 7,
					"title": "Difficult",
					"valueField": "Difficult"
				}],
					
                    
                    "categoryField": "Category" // field name to get the title from

                });
	   
	})
</script>
