@(categories: Set[models.Category], interviewList: List[models.Interview], dates: Set[String])

@import play.api.Play.resource
@import play.api.Play.current
@import models._

@main("Interviews", categories) {



	<div class="row">

		<div class="col-md-2">
			<div class="list-group">
				<!-- Start of For loop - For each i in interviewList add a link -->
				<a href="@routes.InterviewCtrl.groupInterviews("0")" class="list-group-item active">All Interviews</a>

				@for(d <- dates) {
					<a href="@routes.InterviewCtrl.groupInterviews(d)" class="list-group-item">@d</a>

				}
				
				
			

			</div>
		</div>

		<div class="col-md-10"> 

			<table class="table table-bordered table-hover table-condensed" id="tab">
				<thead>
				<!-- The header row-->
					<tr>
						<th>Candidate</th>
						<th>Role</th>
						<th>Number of Questions Asked</th>
						<th>Interview Date</th>
						<th>Score</th>
						<th>Comments</th>
						

					</tr>
				</thead>
				<tbody>
					<!-- Start of For loop - For each interview found add a row -->
					@for(i <- interviewList) {
					
					<tr>						
						
						<td>@i.candidate.name</td>
						<td>@i.role.name</td>
						<td>@i.numQuestions</td>
						<td>@i.interviewDate</td>
						<td>@i.interviewRate</td>
						<td><button id = "comments">Show Comments</a>
							<!-- The Modal -->
							<div id="myModal" class="modal">

							  <!-- Modal content -->
							  <div class="modal-content">
								<span class="close">&times;</span>
								
									@for(q <- i.questions){
										<hr>
										<p>@q.question.question</p>
										</br>
										<p>@q.comments</p>
										
									}
							  </div>
						</td>

						</tr>
						
					
					}<!-- End of For loop -->
				</tbody>
			</table>
			
			
		</div>
	</div>
		<a href="@routes.Application.index()"> <button class="btn btn-primary">Cancel</button></a>

}