@(categories: Set[models.Category], current: String)

@main("Questions") {


	<div class="row">
		<div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
			<div class="sidebar-nav ">
			
				<ul class="nav">

					<li class="active"><a href="@routes.QuestionCtrl.getCategories("all")">ALL QUESTIONS</a></li>
					<li class="nav-divider"></li>
					@for(c <- categories){

						<li><a href="@routes.QuestionCtrl.getCategories(c.name)">@c.name</a></li>
						<li class="nav-divider"></li>
						
					}    

				</ul>
			</div>
			<!--/nav -->
		</div>
		<!--/span-->
	
	<!-- Page Content -->

		<div class="col-xs-12 col-sm-9">

			<div class="row">
				@if(current == "all") {
					@for(c <- categories){
						<div class="row">

							<div class="col-md-4">	
							
								<h3>@c.name</h3>
								
							</div>
							<div class="col-md-8">
								@for(q <- c.questions){
									@q.question <br>
								}
							</div>

						</div>
						<hr>
					} 
				}else{
					<div class="row">

						@if(current == "NO CATEGORY DEFINED"){
							<div class="col-md-12">	
								<p>All Questions that appear in this category were on a line that begins with ":" to place these questions in a category, Enter a category befor the colon ":" and re-upload the file</p>
								<hr>
							</div>
						}
					</div>
					@for(c <- categories){
						
						<div class="row">
							
							@if(c.name == current){
								<div class="col-md-4">	
								
									<h3>@c.name</h3>
									
								</div>
								<div class="col-md-8">
									@for(q <- c.questions){
										@q.question <br>
									}
								</div>
								<hr>

							} 
						</div>
					}
				}	
							

			</div>
			<!--/row-->
		</div>
		<!--/col-->
	</div>

	


}