@(title: String, categories: Set[models.Category])(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Questions App - @title</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
	
	<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Questions App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
				<li><a href="/uploadForm">Upload Questions</a></li>
                <li><a href="/newCandidate">Start Interview</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container-fluid">


	
    <div class="row row-offcanvas row-offcanvas-left">
		<br>
		<div class="row jumbotron">
			<a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
			<h1>Questions App</h1>
		
		</div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav collapse navbar-collapse">
			
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				   <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <ul class="nav">

                    <li class="active"><a href="@routes.QuestionCtrl.getCategories("all")">ALL QUESTIONS</a></li>
					<li class="nav-divider"></li>
					@for(c <- categories){

						<li><a href="@routes.QuestionCtrl.getCategories(c.name)">@c.name</a></li>
						<li class="nav-divider"></li>
                        
	                }    

                </ul>
            </div>
            <!--/nav -->
        </div>
        <!--/span-->
		
		  <!-- Page Content -->
        <div class="col-xs-12 col-sm-9">

            <div class="row">
				
				<!-- Start Content -->
				@content
				<!-- End Content -->

			</div>
			<!--/row-->
		</div>
		<!--/col-->
		
	</div>
	<!--/row-->	
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Openet Questions App</p>
                </div>
            </div>
        </footer>

    </div>
</div>
    <!-- /.container -->
   

	
 <!-- jQuery -->
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>	
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>	
	
	
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/hello.js")" ></script>


</body>

</html>
