@(addCandidateForm: Form[models.Interview], user: models.User)

@import helper._

@main("New Candidate", user){


	<div class="col-md-8">
		<h3>Add a new Candidate</h3>
	
		<!-- Use the views.html.helpers package to create the form -->
		@helper.form(action = routes.CandidateCtrl.addCandidateSubmit(), 'class -> "form-horizontal", 'role->"form") {
			
			<!-- Build the form, adding an input for each field -->
			
			@inputText(addCandidateForm("candidate.name"), '_label -> "Name",'class -> "form-control")
			@select(
				addCandidateForm("role.id"), 
				options(Category.options), 
				'_label -> "Role", '_default -> "-- Choose a role --",
				'_showConstraints -> false, 'class -> "form-control"
			)
			@helper.inputText(addCandidateForm("numQuestions"), '_label ->"How many questions to generate", 'class -> "form-control", 'type -> "number")

			<!-- Add a submit button -->
			<div class="actions">
				<input type="submit" value="Add Candidate" class="btn btn-primary">
				
				<a href="/" 
					<button class="btn btn-warning">Cancel</button>
				</a>
			</div>
		
		


	}
	
	</div>
} <!-- End of page content -->